<div class="dialog">
  <div mat-dialog-container>
    <mat-card-title>
      <h1 mat-dialog-title>{{data.dialogName}} a workout plan</h1>
    </mat-card-title>
    <mat-card-subtitle>
      <div mat-dialog-content>
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Name</mat-label>
          <input matInput placeholder="" [(ngModel)]="name" />
        </mat-form-field>
        <br>
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Type</mat-label>
          <input matInput placeholder="" [(ngModel)]="type" />
        </mat-form-field>
        <br>
        <div class="Exercises">
          <mat-accordion>
            <section class="exercise-section">
              <mat-expansion-panel hideToggle disabled>
                <mat-expansion-panel-header>
                  <mat-panel-title> Exercise name </mat-panel-title>
                  <mat-panel-description> Muscle group </mat-panel-description>
                  <mat-panel-description> Delete </mat-panel-description>        
                </mat-expansion-panel-header>
              </mat-expansion-panel>
              <mat-expansion-panel *ngFor="let exercise of data.workouts[data.index].exerciseMap.keys()">
                <mat-expansion-panel-header>
                  <mat-panel-title> {{exercise.name}}</mat-panel-title>
                  <mat-panel-description> {{exercise.muscle}} </mat-panel-description>
                  <mat-panel-description> 
                    <button class="delete-button" mat-flat-button color="primary" (click)="openDeleteExercise(data.index)">Delete</button>
                  </mat-panel-description>

                </mat-expansion-panel-header>
                <mat-form-field class="example-full-width" appearance="fill">
                  <mat-label>Sets</mat-label>
                  <input matInput placeholder="" [(ngModel)]="data.workouts[data.index].exerciseMap.get(exercise).sets" />
                </mat-form-field>
                <br />
                <mat-form-field class="example-full-width" appearance="fill">
                  <mat-label>Reps</mat-label>
                  <input matInput placeholder="" [(ngModel)]="data.workouts[data.index].exerciseMap.get(exercise).reps" />
                </mat-form-field>
                <br />
                <mat-form-field class="example-full-width" appearance="fill">
                  <mat-label>Break time</mat-label>
                  <input matInput placeholder="Always seconds" [(ngModel)]="data.workouts[data.index].exerciseMap.get(exercise).breaktime" />
                </mat-form-field>
                <br />
                <mat-form-field class="example-full-width" appearance="fill">
                  <mat-label>Weight</mat-label>
                  <input matInput placeholder="" type=text [(ngModel)]="data.workouts[data.index].exerciseMap.get(exercise).weight"/>
                </mat-form-field>
                <mat-card-actions>
                  <button mat-flat-button color="primary" (click)="safeExerciseData(exercise)">Save</button>
                  <button mat-flat-button color="primary">Cancel</button>
                  <br />                  
                </mat-card-actions>
              </mat-expansion-panel>
            </section>
          </mat-accordion>
        </div>
      </div>
    </mat-card-subtitle>
    <form class="example-form">
      <button
        mat-flat-button
        (click)="addExercise()"
        color="primary"
        class="button-add"
      >
        Choose exercise
      </button>
    </form>
    <div mat-dialog-actions>
      <button mat-flat-button color="primary" mat-dialog-close>Save</button>
      <button mat-flat-button color="primary" mat-dialog-close>Cancel</button>
    </div>
  </div>
</div>
