<div class="dialog">
  <div mat-dialog-container>
    <mat-card-title>
      <h1 mat-dialog-title>{{data.dialogName}} a workout plan</h1>
    </mat-card-title>
    <mat-card-subtitle>
      <div class="mat-dialog-content">
        <mat-form-field>
          <mat-label>Name</mat-label>
          <input matInput placeholder={{data.workout.workoutname}} [(ngModel)]="data.workout.workoutname" [disabled]="user_id === '1'"/>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Type</mat-label>
          <input matInput placeholder="" [(ngModel)]="data.workout.type" [disabled]="user_id === '1'"/>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Description</mat-label>
          <input matInput placeholder="" [(ngModel)]="data.workout.description" [disabled]="user_id === '1'"/>
        </mat-form-field>
        <div class="Exercises">
          <mat-accordion>
            <section class="exercise-section">
              <mat-expansion-panel hideToggle disabled>
                <mat-expansion-panel-header>
                  <mat-panel-title> Exercise name </mat-panel-title>
                  <mat-panel-description> Muscle group </mat-panel-description>
                  <mat-panel-description> Delete/ Add set</mat-panel-description>
                </mat-expansion-panel-header>
              </mat-expansion-panel>
              <mat-expansion-panel *ngFor="let exercise of exercises; let workout_exercise_index=index"
                (opened)="loadExerciseData(workout_exercise_index)" #panel>
                <mat-expansion-panel-header>
                  <mat-panel-title> {{exercise.exercisename}}</mat-panel-title>
                  <mat-panel-description> {{exercise.muscle}} </mat-panel-description>
                  <mat-panel-description>
                    <button [disabled]="user_id === '1'" class="delete-button" mat-mini-fab color="primary"
                      (click)="openDeleteExercise(index)"><mat-icon>delete</mat-icon></button>
                    <button [disabled]="user_id === '1'"  mat-mini-fab color="primary"
                       (click)="addSet(index);panel.close()"><mat-icon>add</mat-icon></button>
                  </mat-panel-description>
                </mat-expansion-panel-header>
                <mat-card *ngFor="let set of sets; let i = index" appearance="outlined">
                  <div class="div">
                    <mat-form-field appearance="fill">
                      <mat-label>Reps Set {{i+1}}</mat-label>
                      <input matInput placeholder="" [(ngModel)]="set.reps" [disabled]="user_id === '1'"/>
                    </mat-form-field>
                    <mat-form-field appearance="fill">
                      <mat-label>Break time Set {{i+1}}</mat-label>
                      <input matInput placeholder="Always seconds" [(ngModel)]="set.pause" [disabled]="user_id === '1'"/>
                    </mat-form-field>
                    <mat-form-field appearance="fill">
                      <mat-label>Weight Set {{i+1}}</mat-label>
                      <input matInput placeholder="" type="text" [(ngModel)]="set.weight" [disabled]="user_id === '1'"/>
                    </mat-form-field>
                    <mat-card-actions>
                      <button [disabled]="user_id === '1'" mat-flat-button color="primary" (click)="safeExerciseData(i,workout_exercise_index)">Save</button>
                      <button [disabled]="user_id === '1'" mat-flat-button color="primary" (click)="deleteSet(i,workout_exercise_index)">Delete</button>
                    </mat-card-actions>
                  </div>
                </mat-card>
              </mat-expansion-panel>
            </section>
          </mat-accordion>
        </div>
      </div>
    </mat-card-subtitle>
    <mat-card-actions class="hover-button">
      <button [disabled]="user_id === '1'" mat-flat-button (click)="addExercise()" color="primary" class="action-buttons">
        Add exercise
      </button>
      <button mat-flat-button color="primary" (click)="safeWorkoutData()" class="action-buttons" mat-dialog-close>
        Finish
    </button>
    </mat-card-actions>
  </div>
</div>
