<div class="dialog">
  <div mat-dialog-container>
    <h1 mat-dialog-title>Choose an exercise</h1>

    <mat-tab-group mat-stretch-tabs class="mat-tab-group">
      <mat-tab label="All exercises"></mat-tab>
      <mat-tab label="Chest"></mat-tab>
      <mat-tab label="Back"></mat-tab>
      <mat-tab label="Shoulder"></mat-tab>
      <mat-tab label="Arms"></mat-tab>
      <mat-tab label="Legs"></mat-tab>
    </mat-tab-group>

    <!-- All exercises -->
    <mat-form-field>
      <input type="text" matInput placeholder="Search" />
    </mat-form-field>
    <div class="Exercises">
      <mat-accordion>
        <section class="exercise-section">
          <mat-expansion-panel hideToggle disabled>
            <mat-expansion-panel-header>
              <mat-panel-title> Exercise name </mat-panel-title>
              <mat-panel-description> Muscle group </mat-panel-description>
            </mat-expansion-panel-header>
          </mat-expansion-panel>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title> Dumbell Rows </mat-panel-title>
              <mat-panel-description> Back </mat-panel-description>
            </mat-expansion-panel-header>
            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>Sets</mat-label>
              <input matInput placeholder="" value="" />
            </mat-form-field>
            <br />
            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>Reps</mat-label>
              <input matInput placeholder="" value="" />
            </mat-form-field>
            <br />
            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>Break time</mat-label>
              <input matInput placeholder="Always seconds" value="30" />
            </mat-form-field>
            <mat-card-actions>
              <button mat-flat-button color="primary">Add</button>
              <button mat-flat-button color="primary">Cancel</button>
              <br />
              Should be a green text after adding!
            </mat-card-actions>
          </mat-expansion-panel>

          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title> Lat Pulldown </mat-panel-title>
              <mat-panel-description> Back </mat-panel-description>
            </mat-expansion-panel-header>
            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>Sets</mat-label>
              <input matInput placeholder="" value="" />
            </mat-form-field>
            <br />
            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>Reps</mat-label>
              <input matInput placeholder="" value="" />
            </mat-form-field>
            <br />
            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>Break time</mat-label>
              <input matInput placeholder="Always seconds" value="30" />
            </mat-form-field>
            <mat-card-actions>
              <button mat-flat-button color="primary">Add</button>
              <button mat-flat-button color="primary">Cancel</button>
              <br />
              Should be a green text after adding!
            </mat-card-actions>
          </mat-expansion-panel>
        </section>
      </mat-accordion>
    </div>

    <!-- Chest -->

    <!-- Back -->

    <!-- Shoulder -->

    <!-- Arms -->

    <!-- Legs -->

    <div mat-dialog-actions>
      <button mat-flat-button color="primary" mat-dialog-close>Save</button>
      <button mat-flat-button color="primary" mat-dialog-close>Cancel</button>
    </div>
  </div>
</div>
