mat-form-field {
  padding-top: 10px;
}

.action-buttons {
  margin: 5px;
}

.dialog {
  margin: 10px;
}

.inner-mat-card {
  margin-top: 5px;
}

.hover-button {
  position: sticky;
  bottom: 0px;
  background-color: var(--color-background);
  z-index: 2;
}
