<div class="dialog">
  <div mat-dialog-container>
    <h1 mat-dialog-title>Choose an exercise</h1>
    <mat-card style="background-color:4b4b4b !important">
    <mat-form-field>
      <input type="text" matInput placeholder="Search in all exercises" [(ngModel)]='search'/>
    </mat-form-field>
    <div class="toplayer">
    <mat-expansion-panel >
      <mat-expansion-panel-header>
        <mat-panel-title>All exercises</mat-panel-title>
      </mat-expansion-panel-header>
      <div *ngFor='let exercise of Allexercises; let index=index'>
        <mat-card class="test" *ngIf='exercise.name.toUpperCase().match(search.toUpperCase())'>
          <mat-card-title>{{ exercise.name }}</mat-card-title>
              <mat-card-subtitle>{{ exercise.description }}</mat-card-subtitle>
          <mat-card-actions>
            <button  
                  mat-flat-button
                  (click)="AddExercise(index)"
                  color="primary"
                  class="button-delete"
                >
                  Add
                </button>
          </mat-card-actions>

        </mat-card>
      </div>
    </mat-expansion-panel>
  </div>
    <app-accordion [Data]="getAccordionData()" (dialogEvent)="catchDialogEvent($event)"></app-accordion>
    <!-- <mat-tab-group mat-stretch-tabs class="mat-tab-group" >
      <mat-tab  label='All Exercises'></mat-tab>
      <mat-tab *ngFor='let exercise of exercises; let index = index' label={{exercise.muscle}}>
        <div class="Exercises">
          <mat-accordion>
            <section class="exercise-section">
              <mat-expansion-panel hideToggle disabled>
                <mat-expansion-panel-header>
                  <mat-panel-title> {{exercise.name}}</mat-panel-title>
                  <mat-panel-description> {{exercise.description}} </mat-panel-description>
                </mat-expansion-panel-header>
              </mat-expansion-panel>
              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title> {{exercise.name}} </mat-panel-title>
                  <mat-panel-description> {{exercise.description}} </mat-panel-description>
                </mat-expansion-panel-header>

                <mat-card-actions>
                  <button mat-flat-button color="primary">Add</button>
                  <button mat-flat-button color="primary">Cancel</button>
                  <br />
                  Should be a green text after adding!
                </mat-card-actions>
              </mat-expansion-panel>
    
              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title> Lat Pulldown </mat-panel-title>
                  <mat-panel-description> Back </mat-panel-description>
                </mat-expansion-panel-header>
                <mat-form-field class="example-full-width" appearance="fill">
                  <mat-label>Sets</mat-label>
                  <input matInput placeholder="" value="" />
                </mat-form-field>
                <br />
                <mat-form-field class="example-full-width" appearance="fill">
                  <mat-label>Reps</mat-label>
                  <input matInput placeholder="" value="" />
                </mat-form-field>
                <br />
                <mat-form-field class="example-full-width" appearance="fill">
                  <mat-label>Break time</mat-label>
                  <input matInput placeholder="Always seconds" value="30" />
                </mat-form-field>
                <mat-card-actions>
                  <button mat-flat-button color="primary">Add</button>
                  <button mat-flat-button color="primary">Cancel</button>
                  <br />
                  Should be a green text after adding!
                </mat-card-actions>
              </mat-expansion-panel>
            </section>
          </mat-accordion>
        </div>
      </mat-tab>
    </mat-tab-group> -->

    <!-- All exercises -->



    <!-- Chest -->

    <!-- Back -->

    <!-- Shoulder -->

    <!-- Arms -->

    <!-- Legs -->

    <div mat-dialog-actions>
      <button mat-flat-button color="primary" mat-dialog-close>Save</button>
      <button mat-flat-button color="primary" mat-dialog-close>Cancel</button>
    </div>
  </mat-card>
  </div>
</div>