<mat-card>
<p>Calorie & BMI Calculator</p>
<mat-stepper class="example-stepper" [orientation]="(stepperOrientation | async)!">
    <mat-step [stepControl]="firstFormGroup" label="Choose your gender">
        <form [formGroup]="firstFormGroup">
            <mat-form-field>
                <mat-label>Gender</mat-label>
                <mat-select [(value)]="gender">
                    <mat-option value="Male">Male</mat-option>
                    <mat-option value="Female">Female</mat-option>
                  </mat-select>
            </mat-form-field>
            <div>
                <button mat-button matStepperNext>Next</button>
            </div>
        </form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup" label="Fill out your age">
        <form [formGroup]="secondFormGroup">
            <mat-form-field>
                <mat-label>Age</mat-label>
                <input matInput formControlName="secondCtrl" placeholder="Ex. 21" [(ngModel)]="age" required>
            </mat-form-field>
            <div>
                <button mat-button matStepperNext>Next</button>
                <button mat-button matStepperPrevious>Back</button>
            </div>
        </form>
    </mat-step>
    <mat-step [stepControl]="thirdFormGroup" label="Fill out your height">
        <form [formGroup]="thirdFormGroup">
            <mat-form-field>
                <mat-label>Height(in cm)</mat-label>
                <input matInput formControlName="thirdCtrl" placeholder="Ex. 181" [(ngModel)]="height" required>
            </mat-form-field>
            <div>
                <button mat-button matStepperNext>Next</button>
                <button mat-button matStepperPrevious>Back</button>
            </div>
        </form>
    </mat-step>
    <mat-step [stepControl]="fourthFormGroup" label="Fill out your weight">
        <form [formGroup]="fourthFormGroup">
            <mat-form-field>
                <mat-label>Weight</mat-label>
                <!-- formControlName wirft fehler -> ist veraltet  -->
                <input matInput formControlName="fourthCtrl" placeholder="Ex. 85" [(ngModel)]="weight" required>
            </mat-form-field>
            <div>
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button matStepperNext>Next</button>
            </div>
        </form>
    </mat-step>
    <mat-step>
        <ng-template matStepLabel>Your physical activity</ng-template>
        <!-- <mat-selection-list #shoes [multiple]="false" >
            <mat-list-option (click)="setPhysicalStatus(1.2)">Only sitting/laying acitvities</mat-list-option>
            <mat-list-option (click)="setPhysicalStatus(1.4)">Only sitting activities, working at a desk job</mat-list-option>
            <mat-list-option (click)="setPhysicalStatus(1.6)">Mainly sitting but partly walking or standing activities</mat-list-option>
            <mat-list-option (click)="setPhysicalStatus(1.8)">Mainly standing or walking activities with some sports</mat-list-option>
            <mat-list-option (click)="setPhysicalStatus(2.1)">Heavy physical work or sports</mat-list-option>
        </mat-selection-list> -->
        <br>
        <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext>Next</button>
        </div>
    </mat-step>
    <mat-step>
        <ng-template matStepLabel>Your Calories & BMI</ng-template>
        <div class="result">{{result}}</div>
        <br>
        <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button (click)="getBmiAndCalories()">Calculate</button>
        </div>
        <br>
        <mat-card class="info">Info: To build muscle mass, add 300 calories to the result. To lose weight, subtract 300 calories from the result.</mat-card>
    </mat-step>
</mat-stepper>
</mat-card>

<mat-card>
<p>BMI Category Table</p>
<br>
<section class="example-container mat-elevation-z10" tabindex="0">
    <table mat-table [dataSource]="dataSource" aria-label="BMI Category Table">

        <!-- Category Column -->
        <ng-container matColumnDef="category">
            <th mat-header-cell *matHeaderCellDef> Category </th>
            <td mat-cell *matCellDef="let element"> {{element.category}} </td>
        </ng-container>
        <!-- Bmi Column -->
        <ng-container matColumnDef="bmi">
            <th mat-header-cell *matHeaderCellDef> BMI </th>
            <td mat-cell *matCellDef="let element"> {{element.bmi}} </td>
        </ng-container>
        <!-- Risk Column -->
        <ng-container matColumnDef="risk">
            <th mat-header-cell *matHeaderCellDef> Risk </th>
            <td mat-cell *matCellDef="let element"> {{element.risk}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</section>
</mat-card>
