<div>

    <head>
        <title>BMI Calculator</title>
    </head>

    <body>
        <p>Body Mass Index Calculator</p>
        <form>
            <label>Enter your weight (in kg)</label><br>
            <input type="text" name="weight" placeholder="Enter your weight" [(ngModel)]="weight"><br>
            <label>Enter your height (in cm)</label><br>
            <input type="text" name="height" placeholder="Enter your height" [(ngModel)]="height"><br>
            <button title="calculate" (click)="getBmi()"> Calculate </button>
        </form>
    </body>
</div>