.mat-form-field {
    margin-block: 1%;
    margin-inline: 1%;
    font-size: 20px;
}

.mat-card {
    font-size: 20px;
    margin-top: 0.5%;
    margin-left: 0.5%;
}

table {
    width: 90%;
    margin-left: 1%;
    margin-bottom: 1%;
}

.result {
    margin-block: 1%;
    margin-inline: 1%;
    margin-top: 2%;
    margin-bottom: 2%;
    font-size: 20px;
}

.info {
    margin-block: 1%;
    margin-inline: 1%;
    font-size: 15px;
}