body {
    border-style: double;
    border-color: rgba(0, 0, 0, 0.411);
    text-align: center;
    background-color: #424242;
}

.header {
    font-size: 2rem;
    color: #ffffff;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.result {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
    margin-top: 0.5rem;
}

label {
    font-size: 1.25rem;
    margin-top: 1.5rem;
    color: white;
}

input[type="text"] {
    padding: 0.75rem;
    font-size: 1rem;
    border: none;
    margin-bottom: 1.5rem;
    margin-top: 1.0rem;
    width: 400px;
    transition: all 0.3s ease-in-out;
    background-color: rgb(43, 42, 42);
    color: white;
}

button {
    background-color: blueviolet;
    color: #fff;
    padding: 0.75rem 2rem;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    margin-bottom: 1%;

    &:hover {
       
    }

    &:focus {
        background-color: rgb(110, 10, 204);
        outline: none;
        box-shadow: 0 0 0 2px rgba(106, 72, 168, 0.5);
    }
}