<div class="dialog">
  <div mat-dialog-container>
    <mat-card-title><h1 mat-dialog-title>{{data.data.workoutname}}</h1></mat-card-title>
    <mat-card-subtitle>
      <div mat-dialog-content>
        <div class="Exercises">
          <mat-accordion>
            <section class="exercise-section">
              <mat-expansion-panel hideToggle disabled>
                <mat-expansion-panel-header>
                  <mat-panel-title> Exercise name </mat-panel-title>
                  <mat-panel-description> Muscle group </mat-panel-description>
                </mat-expansion-panel-header>
              </mat-expansion-panel>
              <app-dialog-start-workout-item *ngFor="let exercise of workoutExercises; let index = index" [exercise]="exercise" [workoutExercise]="workoutExercises[index]"></app-dialog-start-workout-item>
            </section>
          </mat-accordion>
        </div>
      </div>
    </mat-card-subtitle>
    <div mat-dialog-actions>
      <button mat-flat-button color="primary" (click)="addExercise()" class="button-add">
        Add exercise
      </button>
      <button mat-flat-button color="primary" (click)="safeSetHistoryData()" mat-dialog-close>
        <!-- Liefert undefined zurück -->
        Finish Workout
      </button>
    </div>
  </div>
</div>
