<div class="dialog">
  <div mat-dialog-container>
    <mat-card-title><h1 mat-dialog-title>Workout title</h1></mat-card-title>
    <mat-card-subtitle>
      <div mat-dialog-content>
        <div class="Exercises">
          <mat-accordion>
            <section class="exercise-section">
              <mat-expansion-panel hideToggle disabled>
                <mat-expansion-panel-header>
                  <mat-panel-title> Exercise name </mat-panel-title>
                  <mat-panel-description> Muscle group </mat-panel-description>
                </mat-expansion-panel-header>
              </mat-expansion-panel>
              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title> Dumbell Rows </mat-panel-title>
                  <mat-panel-description> Back </mat-panel-description>
                </mat-expansion-panel-header>
                <mat-card appearance="fill">
                  Set 1:
                  <br>
                  <mat-label>Weight (kg): 
                    <mat-icon color="primary">add</mat-icon>
                    <input matInput value=""/>
                    <mat-icon color="primary">remove</mat-icon>
                  </mat-label>
                  <br />
                  <mat-label>Reps: <input matInput value="" /></mat-label>
                  <br />
                  <button mat-flat-button (click)="startTime()" color="primary">Finish set</button>
                </mat-card>
                <br />
                <mat-card appearance="fill">
                  Set 2
                  <mat-label
                    >Weight (kg): <input matInput value=""
                  /></mat-label>
                  <mat-label>Reps: <input matInput value="" /></mat-label>
                  <button mat-flat-button color="primary">Finish set</button>
                </mat-card>
                <br />
                <mat-card appearance="fill">
                  Set i
                  <mat-label
                    >Weight (kg): <input matInput value=""
                  /></mat-label>
                  <mat-label>Reps: <input matInput value="" /></mat-label>
                  <button mat-flat-button color="primary">Finish set</button>
                </mat-card>
                <br />
              </mat-expansion-panel>

              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title> Hammer curls </mat-panel-title>
                  <mat-panel-description> Arms </mat-panel-description>
                </mat-expansion-panel-header>
                <mat-card appearance="fill">
                  Set 1:
                  <mat-label
                    >Weight (kg): <input matInput value=""
                  /></mat-label>
                  <mat-label>Reps: <input matInput value="" /></mat-label>
                  <button mat-flat-button color="primary">Finish set</button>
                </mat-card>
                <br />
                <mat-card appearance="fill">
                  Set 2
                  <mat-label
                    >Weight (kg): <input matInput value=""
                  /></mat-label>
                  <mat-label>Reps: <input matInput value="" /></mat-label>
                  <button mat-flat-button color="primary">Finish set</button>
                </mat-card>
                <br />
                <mat-card appearance="fill">
                  Set i
                  <mat-label
                    >Weight (kg): <input matInput value=""
                  /></mat-label>
                  <mat-label>Reps: <input matInput value="" /></mat-label>
                  <button mat-flat-button color="primary">Finish set</button>
                </mat-card>
                <br />
              </mat-expansion-panel>
            </section>
          </mat-accordion>
        </div>
      </div>
    </mat-card-subtitle>
    <form class="example-form">
      <!--<button
        mat-flat-button
        (click)="Exercise()"
        color="primary"
        class="button-add"
      >
        Choose exercise
      </button> -->
    </form>
    <div mat-dialog-actions>
      <button mat-flat-button color="primary" mat-dialog-close>
        Finish Workout
      </button>
    </div>
  </div>
</div>
