<div class="nutrition" role="main">
  <mat-tab-group [selectedIndex]="activeTabIndexMonth">
    <mat-tab *ngFor="let month of months" class="tab-month">
      <ng-template mat-tab-label>
        <span class="span-month">{{ month }}</span>
      </ng-template>
      <ng-template matTabContent>
        <mat-tab-group [selectedIndex]="activeTabIndexDay">
          <mat-tab *ngFor="let day of getDays(month)" class="tab-day">
            <ng-template mat-tab-label>
              <span class="span-day">{{ day }}</span>
              <span *ngFor="let date of dates" class="tab-day-label">{{
                date | date : "EEE"
              }}</span>
            </ng-template>
            <div class="nutrition-card">
              <!-- <mat-card>
                <mat-card-header>Overview</mat-card-header>
                <mat-divider></mat-divider>
                <mat-card-content>
                  Mat-list macht die Probleme
                    <mat-list-item>Goal - Eaten = Remaining</mat-list-item>
                    <mat-divider></mat-divider>
                    <mat-list-item
                      >0g Fat 0g Carbs 0g Protein 0g kcal</mat-list-item
                    >
                </mat-card-content>
              </mat-card> -->
              <mat-card>
                <mat-card-header>Evening<mat-icon (click)="openAddNutritionDialog()">add</mat-icon></mat-card-header>
                <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
                  <!-- Bezeichnung Column -->
                  <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef> Name </th>
                    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                  </ng-container>
            
                  <!-- kcal Column -->
                  <ng-container matColumnDef="kcal">
                    <th mat-header-cell *matHeaderCellDef> kcal </th>
                    <td mat-cell *matCellDef="let element"> {{element.kcal}} </td>
                  </ng-container>
                
                  <!-- Carbs Column -->
                  <ng-container matColumnDef="carbs">
                    <th mat-header-cell *matHeaderCellDef> carbs </th>
                    <td mat-cell *matCellDef="let element"> {{element.carbs}} </td>
                  </ng-container>

                  <!-- Protein Column -->
                  <ng-container matColumnDef="protein">
                    <th mat-header-cell *matHeaderCellDef> protein </th>
                    <td mat-cell *matCellDef="let element"> {{element.protein}} </td>
                  </ng-container>

                  <!-- Fat Column -->
                  <ng-container matColumnDef="fat">
                    <th mat-header-cell *matHeaderCellDef> fat </th>
                    <td mat-cell *matCellDef="let element"> {{element.fat}} </td>
                  </ng-container>

                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
              </mat-card>
              <mat-card>
                <mat-card-header>Noon<mat-icon (click)="openAddNutritionDialog()">add</mat-icon></mat-card-header>
                <table mat-table [dataSource]="dataSource">
                  <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef> Name </th>
                  </ng-container>
                  <ng-container matColumnDef="kcal">
                    <th mat-header-cell *matHeaderCellDef> kcal </th>
                  </ng-container>
                  <ng-container matColumnDef="carbs">
                    <th mat-header-cell *matHeaderCellDef> carbs </th>
                  </ng-container>
                  <ng-container matColumnDef="protein">
                    <th mat-header-cell *matHeaderCellDef> protein </th>
                  </ng-container>
                  <ng-container matColumnDef="fat">
                    <th mat-header-cell *matHeaderCellDef> fat </th>
                  </ng-container>
                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                </table>
              </mat-card>
              <mat-card>
                <mat-card-header>Morning<mat-icon (click)="openAddNutritionDialog()">add</mat-icon></mat-card-header>
                <table mat-table [dataSource]="dataSource">
                  <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef> Name </th>
                  </ng-container>
                  <ng-container matColumnDef="kcal">
                    <th mat-header-cell *matHeaderCellDef> kcal </th>
                  </ng-container>
                  <ng-container matColumnDef="carbs">
                    <th mat-header-cell *matHeaderCellDef> carbs </th>
                  </ng-container>
                  <ng-container matColumnDef="protein">
                    <th mat-header-cell *matHeaderCellDef> protein </th>
                  </ng-container>
                  <ng-container matColumnDef="fat">
                    <th mat-header-cell *matHeaderCellDef> fat </th>
                  </ng-container>
                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                </table>
              </mat-card>
              <!-- <mat-card appearance="outlined">
                <mat-card-header>Morning<mat-icon (click)="openAddNutritionDialog()">add</mat-icon></mat-card-header>
                <mat-divider></mat-divider>
                <mat-card-content>
                  <mat-list>
                    <mat-list-item>Test</mat-list-item>
                    <mat-divider></mat-divider>
                    <mat-list-item>Test</mat-list-item>
                  </mat-list>
                </mat-card-content>
              </mat-card> -->
            </div>
          </mat-tab>
        </mat-tab-group>
      </ng-template>
    </mat-tab>
  </mat-tab-group>
</div>
