@import "../../../styles/styles_variables.scss";

.mat-card {
    margin: 8px;
}

.mat-tab-group {
    margin-top: 5px;
}

.tab-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
  }
  
.tab-date {
    font-size: 24px;
    font-weight: bold;

}
  
.tab-day {
    font-size: 16px;
    font-weight: bold;
    color: #999;
    margin-bottom: 5px;
}
  
.tab-content {
    padding: 20px;
}
  

.mat-icon{
    flex: 0%;
    text-align: right;
    height: 50px;
    width: 50px;
    background-color: transparent;
}
