@import "../../../styles/styles_variables.scss";

.mat-card {
    margin: 8px;
}

.mat-card-content {
    margin-block-start: 10px;
    margin-left: -10px;
}

.mat-divider {
    margin-block-start: 5px;
    // margin: 5px;
}

.mat-icon{
    position: relative;
    text-align: right;
    height: 50px;
    width: 50px;
    background-color: transparent;
    // margin-block-start: -3px;
    // margin-left: -10px;
}
