.container {
  padding: 8px;
}

.workout {
  padding: 0px;
}

.workout-card {
  color: blue;
}

.mat-card-subtitle {
  color: blueviolet;
}

/*
.mat-card-content {
    
}
*/

p {
  color: red;
}

.mat-card-actions {
  color: green;
}

.button-add {
  position: fixed;
  bottom: 2%;
  right: 2%;
}
