<div class="container">
  <div class="workout">
     <!-- <mat-card class="workout-card" *ngFor="let workout of workouts" class="list"></mat-card>  -->
    
     <app-accordion [Data]=accordionConfig (dialogEvent)="catchDialogEvent($event)"></app-accordion>
    <br />

    <br />

    <!-- Floating-Actions -->
    <div class="action-container">
      <button
        mat-fab
        (click)="openAddWorkout()"
        color="primary"
        class="button-add"
      >
        <mat-icon>add</mat-icon>
      </button>
    </div>
  </div>
</div>
