.sidenav-list {
    display:flex;
    align-items: center;
    font-size: 17px;
    padding: 5px;
}

.sidenav-text {
    padding-left: 8px;
    // color: var(--color-primary);
}

.auth {
    position: absolute; 
    bottom: 0;
}
