.sidenav-list {
    display:flex;
    align-items: center;
    font-size: 17px;
    padding: 5px;
}

.sidenav-text {
    padding-left: 8px;    
}

.auth {
    position: absolute; 
    bottom: 0;
}

mat-card {
  max-width: 400px;
  margin: 0 auto;
  margin-top: 50px;
  padding: 20px;
}

mat-card-title {
  color: white;
  text-align: center;
  margin-bottom: 20%;
}

mat-form-field {
  width: 100%;
  margin-bottom: 7%;
}

.button {
  width: 100%;
  margin-top: 3%;
}
