<div class="toolbar" role="main">
  <mat-toolbar>
    <button mat-icon-button class="toolbar-icon" aria-label="Toolbar icon-button" mat-icon (click)="drawer.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <span>Rule the Gym</span>
  </mat-toolbar>
  <mat-drawer-container class="sidenav-container" fxFlex autosize>
    <mat-drawer #drawer class="sidenav" mode="side" opened>
      <mat-list-item [routerLink]="['/dashboard']" [routerLinkActive]="['is-active']">
        <mat-icon>dashboard</mat-icon>
        Dashboard
        <br />
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item [routerLink]="['/training']" [routerLinkActive]="['is-active']">
        <mat-icon>fitness_center</mat-icon>
        Training
        <br />
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item [routerLink]="['/nutrition']" [routerLinkActive]="['is-active']">
        <mat-icon>fastfood</mat-icon>
        Nutrition
        <br />
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item [routerLink]="['/bmi']" [routerLinkActive]="['is-active']">
        <mat-icon>sync</mat-icon>
        BMI
        <br />
      </mat-list-item>
    </mat-drawer>
    <div class="sidenav-content">
      <div class="content" role="main"></div>
    </div>
    <mat-drawer-content>
      <router-outlet></router-outlet>
    </mat-drawer-content>
  </mat-drawer-container>
</div>
