@use '../styles/styles_variables.scss';
@use '../styles/restyle.scss';
@use '../styles.scss';

mat-toolbar {
    mat-icon {
        position: absolute;
        margin-top: -15px;
        margin-left: -13px
    }
}
