<!-- Toolbar -->

<!--  <img
    width="40"
    alt="Dumbbell Logo"
    src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fi7.pngguru.com%2Fpreview%2F309%2F616%2F994%2Fdumbbell-barbell-fitness-centre-weight-training-dumbbell.jpg&f=1&nofb=1&ipt=b245b6d2a371cea1fe8664d9144c68696e8991abfd09409995dbdd73d00da707&ipo=images"
  />
  -->
<div class="toolbar" role="main">
  <mat-toolbar>
    <button
      mat-icon-button
      class="toolbar-icon"
      aria-label="Toolbar icon-button"
      mat-icon (click)="drawer.toggle()"
    >
      <mat-icon>menu</mat-icon>
    </button>
    <span>Rule the Gym</span>
  </mat-toolbar>

  <mat-drawer-container class="sidenav-container" autosize>
    <mat-drawer #drawer class="sidenav" mode="side">
      <button mat-raised-button>Basic1</button>
      <br/>
      <button mat-raised-button>Basic2</button>
      <br/>
    </mat-drawer>

    <div class="sidenav-content">
      <div class="content" role="main">
        <h2>Coming soon!</h2>
      </div>
    </div>
  </mat-drawer-container>
</div>

<!--
  <mat-toolbar-row color="primary">
-->
