mat-card {
  margin: 10px;
  height: 280px;
  border: none;
  box-shadow: none;
}

.spinner {
  position: absolute;
  top: 85px;
  left: 90px;
}

h3 {
  position: absolute;
  top: 34px;
  left: 26px;
  color: white;
}

.button-remove {
  position: absolute;
  top: 105px;
  left: 10px;
}

.button-add {
  position: absolute;
  top: 105px;
  left: 210px;
}

mat-card-action {
  margin-top: 200px;
}

.finish-button {
  margin-top: 200px;
  margin-left: 10px;
}
