.spinner {
  position: absolute;
  top: 45%;
  left: 45%;
}

h3 {
  position: absolute;
  top: 30%;
  left: 25%;
}

.button-remove {
  position: absolute;
  top: 45%;
  left: 35%;
}

.button-add {
  position: absolute;
  top: 45%;
  right: 38%;
}

.button-finish {
  position: absolute;
  top: 55%;
  left: 42%;
}

::-webkit-scrollbar {
    display: none;
}

// mat-progress-spinner {
//   transform: scaleX(-1);
// }
