<div class="container">
  <div class="workout">
    <div class="spinner">
      <mat-progress-spinner [value]="value"></mat-progress-spinner>
      <h3>{{time | date: 'mm | ss'}}</h3>
    </div>
    <div class="buttons">
      <button mat-fab (click)= null color="primary" class="button-add">
        <mat-icon>add</mat-icon>
      </button>
      <button mat-fab (click)= null color="primary" class="button-remove">
        <mat-icon>remove</mat-icon>
      </button>
      <button mat-flat-button color="primary" (click)=null class="button-finish" mat-dialog-close>
        Finish Workout
      </button>
    </div>
  </div>
</div>
