<mat-card class="inner-mat-card" *ngIf="history">
    Set Variable:
    <mat-form-field>
      <mat-label> Weight (kg):</mat-label>
      <input matInput placeholder="history.weight" [(ngModel)]="newHistory.weight"/>
    </mat-form-field>
    <mat-form-field>
      <mat-label> Reps:</mat-label>
      <input matInput placeholder="history.reps" [(ngModel)]="newHistory.reps"/>
    </mat-form-field>
    <button mat-flat-button (click)="startTime()" class="action-buttons" color="primary" #finish> 
      Finish set
    </button>
</mat-card>
