table {
  width: 100%;
}

.container {
  padding: 5px;
}

mat-form-field {
  font-size: 14px;
}

td,
th {
  width: 25%;
}

.button-close {
  flex: 0%;
  text-align: right;
  height: 50px;
  width: 50px;
  background-color: transparent;
}
