//mat-card{
    //border-radius: 0 !important;
//}

mat-card.test{
    color:green;
    margin-bottom: 8px;
}
mat-card.list{
    margin-bottom: 8px !important;
}

div.toplayer{
    margin-bottom: 4px !important;    
}

p.dialog-ask-delete-text{
    font-size: 20px !important;   
    font: arial; 
}

button{
    margin-right: 8px !important;
}

h1{
    border-bottom: 1px solid black 
}
