div.toplayer{
    margin-bottom: 4px !important;
}

div.mat-icon-sidenav {
    background-color: transparent !important;
    color: white;
}

p.dialog-ask-delete-text{
    font: 1em/1.5 Arial, sans-serif;
    font-size: 20px !important;
}

button {
    margin-right: 8px !important;
}

h1 {
    border-bottom: 1px solid black
}
