div.toplayer{
    margin-bottom: 4px !important;    
}

div.mat-icon-sidenav {
    background-color: transparent !important;
    color: white;
}

p.dialog-ask-delete-text{
    font-size: 20px !important;   
    font: arial; 
}

button {
    margin-right: 8px !important;
}

h1 {
    border-bottom: 1px solid black 
}
