// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
//$Angular-RuletheGym-primary: mat.define-palette(mat.$teal-palette);
//$Angular-RuletheGym-accent: mat.define-palette(mat.$gray-palette, A200, A100, A400);

/* Costum colors. */
// Define a light theme. Not implemented
$light-primary: mat.define-palette(mat.$grey-palette);
$light-accent: mat.define-palette(mat.$indigo-palette);

// Define a dark theme
$dark-primary: mat.define-palette(mat.$green-palette, 700);
$dark-background: mat.define-palette(mat.$grey-palette, 900);
$dark-content-background: mat.define-palette(mat.$grey-palette, 400);
$dark-font-color: mat.define-palette(mat.$grey-palette, 100);
$dark-accent: mat.define-palette(mat.$grey-palette);

$dark-theme: mat.define-dark-theme(
  (
    color: (
      primary: $dark-primary,
      accent: $dark-accent,
    ),
  )
);

@include mat.all-component-themes($dark-theme);
@include mat.core();
@include mat.all-component-typographies();

// @include mat.all-component-typographies();
// @include mat.core();
// @include mat.all-component-themes($dark-theme);

// Apply the dark theme by default
.dark-theme {
    @include mat.all-component-themes($dark-theme);
}

$theme-ignore-duplication-warnings: true;
