<div class="dialog">
  <div mat-dialog-container>
    <h1 mat-dialog-title>Create an exercise</h1>
    <div class="Exercises">
      <section class="exercise-section">
        <mat-card>
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Name</mat-label>
            <input matInput placeholder="" value="" />
          </mat-form-field>
          <br>
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Description</mat-label>
            <input matInput placeholder="" value="" />
          </mat-form-field>
        </mat-card>
      </section>
    </div>
    <div mat-dialog-actions>
      <button mat-flat-button color="primary" mat-dialog-close>Save</button>
      <button mat-flat-button color="primary" mat-dialog-close>Cancel</button>
    </div>
  </div>
</div>
