@use "@angular/material" as mat;
@import "./styles/styles_variables.scss";
@import"./styles/restyle.scss";

:host {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 170%;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 8px 0;
}

p {
  margin: 0;
  color: mat.get-color-from-palette($dark-font-color);
}

.spacer {
  flex: 1;
}

.toolbar {
  color: mat.get-color-from-palette($dark-font-color);
  display: flex;
  position: absolute;
  flex-direction: column;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

// Sidenav Design
.mat-toolbar {
  background: mat.get-color-from-palette($dark-background);
  border-color: rgba(255, 255, 255, 0.059);
  border-bottom-style: solid;
}

// ::ng-deep.mat-toolbar {
//   background: mat.get-color-from-palette($dark-background);
//   border-color: rgba(255, 255, 255, 0.059);
//   border-bottom-style: solid;
// }

.mat-drawer {
  background-color: mat.get-color-from-palette($dark-background);
}

.sidenav-container {
  height: 100%;
  background-color: mat.get-color-from-palette($dark-background);
}

.sidenav {
  padding: 1%;
}

mat-list-item {
  cursor: pointer;
}

.is-active {
  font-weight: bold;
  color: mat.get-color-from-palette($dark-primary);
  // color: var(--color-primary);
}

// Material design
button {
  width: 100%;
  height: 50px;
  color: mat.get-color-from-palette($dark-primary);
}

mat-icon {
  font-size: 130%;
  background-color: transparent;
}

mat-form-field{
  width: 100%;
}

mat-expansion {
  color: mat.get-color-from-palette($dark-content-background);
}

mat-dialog {
  color: mat.get-color-from-palette($dark-content-background);
}

// Scrollbar Design
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: mat.get-color-from-palette($dark-primary); 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: mat.get-color-from-palette($dark-primary); 
}
