// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use "@angular/material" as mat;

// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

//Mixins and Variables
@import "./styles/styles_variables.scss";
@import"./styles/restyle.scss";
// Define a light theme
$light-primary: mat.define-palette(mat.$teal-palette);
$light-accent: mat.define-palette(mat.$pink-palette);

$light-theme: mat.define-light-theme(
  (
    color: (
      primary: $light-primary,
      accent: $light-accent,
    ),
  )
);

// Define a dark theme
$dark-primary: mat.define-palette(mat.$teal-palette);
$dark-accent: mat.define-palette(mat.$blue-grey-palette);

$dark-theme: mat.define-dark-theme(
  (
    color: (
      primary: $dark-primary,
      accent: $dark-accent,
    ),
  )
);

// You can add global styles to this file, and also import other style files
:host {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 170%;
  //color: #333;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// Apply the dark theme by default
.dark-theme {
  @include mat.core-color($light-theme);
  @include mat.button-color($light-theme);
}

// Apply the light theme only when the `.my-light-theme` CSS class is applied
// to an ancestor element of the components (such as `body`).
.light-theme {
  @include mat.core-color($light-theme);
  @include mat.button-color($light-theme);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 8px 0;
}

p {
  margin: 0;
  color: white;
}

.spacer {
  flex: 1;
}

.toolbar {
  color: white;
  display: flex;
  position: absolute;
  flex-direction: column;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.mat-toolbar {
  background: black;
  //color: $dark-primary;
}

.mat-drawer {
  background-color: rgb(43, 42, 42);
}

.sidenav-container {
  height: 100%;
  background-color: rgb(41, 41, 41);
}

.sidenav-content {
  display: flex;
  height: 100%;
  //align-items: center;
  //justify-content: center;
}

.sidenav {
  //width: 15%;
  padding: 1%;
}

.mat-list-item {
  //margin-right: 8px;
  font-size: 70%;
  cursor: pointer;
}

.mat-icon {
  font-size: 130%;
}

.content {
  display: flex;
  margin: 82px auto 32px;
  padding: 0 16px;
  max-width: 960px;
  flex-direction: column;
  align-items: center;
}

.is-active {
  font-weight: bold;
  color: #7b1fa2;;
}

/* Scrollbar */
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: blueviolet; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(110, 10, 204); 
}