<mat-accordion>
    <div *ngFor="let w of topLayer2"   class="toplayer">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{ w }}
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div *ngFor="let workout of Data.toLoop; let index =  index">
          <div *ngIf="workout[Data.topLayer]===w">
            <mat-card>
              <mat-card-title>{{ workout.workoutname ?? workout.exercisename }}</mat-card-title>
              <mat-card-subtitle>{{ workout.type ?? workout.description}}</mat-card-subtitle>
              <mat-card-actions>
                <button *ngIf="Data.type===start"
                  mat-flat-button
                  (click)="dialogEvent.emit({event: start, source: index})"
                  color="primary"
                  class="action-buttons"
                >
                  Start Workout
                </button>
              </mat-card-actions>
              <mat-card-actions>
                <button *ngIf="Data.type===start || Data.type===edit"
                  mat-flat-button
                  (click)="dialogEvent.emit({event:edit, source: index})"
                  color="primary"
                  class="action-buttons"
                >
                  Edit
                </button>
              </mat-card-actions>
              <mat-card-actions>
                <button *ngIf="Data.type===start || Data.type===edit"
                  mat-flat-button
                  (click)="dialogEvent.emit({event: delete, source: index})"
                  color="primary"
                  class="action-buttons"
                >
                  Delete
                </button>
              </mat-card-actions>
                <button *ngIf="Data.type===add"
                  mat-flat-button
                  (click)="dialogEvent.emit({event: add, source: index})"
                  color="primary"
                  class="button-add"
                >
                  Add
                </button>
            </mat-card>
           </div>
        </div>
      </mat-expansion-panel>
    </div>
  </mat-accordion>
